@font-face {
  font-family: "iconfont"; /* Project id 4354023 */
  src: url('iconfont.woff2?t=1702264299571') format('woff2'),
       url('iconfont.woff?t=1702264299571') format('woff'),
       url('iconfont.ttf?t=1702264299571') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e60e";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-female:before {
  content: "\e71a";
}

.icon-male:before {
  content: "\e71c";
}

